<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Einbinden der CSS Datei -->
    <link rel="stylesheet" href="./style.css">

    <!-- Einbinden der JavaScript Dateien -->
    <!-- !!! Füge hier deinen Code ein !!! -->

    <!-- title: Titel der Webseite, nur im Tab sichtbar -->
    <title>HSLU Chat App</title>
</head>

<body>
    <!-- Eingebetteter JavaScript Code für dynamische Funktionen -->
    <script type="module">
        import { createApp } from 'https://unpkg.com/petite-vue?module'

        createApp({
            displayName: "",
            nameInput: "",
            setUsername() {
                this.displayName = this.nameInput
            },
            get showUsernameForm() {
                return this.displayName === "";
            }
        }).mount()
    </script>

    <header v-scope>
        <h1>HSLU Chat App</h1>
        <p id="subtitle">Eine Chat App, gebaut am Schnuppertag Informatik der Hochschule Luzern. </p>

        <div v-if="showUsernameForm">
            <input id="username" name="username" type="text" v-model="nameInput" placeholder="Benutzername" />

            <button type="button" @click="setUsername">Speichern</button>
        </div>

        <p v-else>Angemeldet als: {{ displayName }}</p>
    </header>

    <main>
        <div id="chat-messages">
            <ul>
                <!-- Liste der Chatnachrichten -->
                <!-- Wird durch JavaScript aufgefüllt -->
            </ul>
        </div>
        <div id="message">
            <!-- Eingabefehler hinzufügen -->
            <!-- !!! Füge hier deinen Code ein !!! -->
        </div>
    </main>
</body>

</html>