/* Wird auf alle Elemente angewendet */
* {
    /* Schriftart Arial, Helvetica oder irgendeine serifenlose Schrift */
    font-family: Arial, Helvetica, sans-serif;
}

/* Style für den gesamten body Abschnitt */
body {
  width: 80%;
  margin: 0 auto;
}

/* Style für img und video Tags */
img, video {
    width: 400px;
}

/* Style für das Element mit ID "subtitle" */
#subtitle {
    font-weight: bold;
}

/* Style für alle Elemente mit Klasse "input-field" */
.input-field {
    padding: 5px;
}

/* header {
    border: 2px solid purple;
}

main {
    border: 2px solid black;
}

section {
    border: 1px solid red;
}

footer {
    border: 2px solid orange;
} */